body {
    background-image: url('../images/fondo.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Times New Roman", Georgia, Serif, Arial, Helvetica, sans-serif;
}

.req{
    color: red;
}

.font-size{    
    font-size: 11px;
}

.error{
    font-family: "Times New Roman", Georgia, Serif, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;      
    overflow-x: hidden;
    padding-right: 20px;
}
* html .ui-autocomplete {
    height: 100px;
}
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
#datatable {
    width: 100% !Important;
}
.hidden-element {
    display: none;
}

div.dataTables_wrapper {
	background-color: transparent;
}

div.dataTables_length {
	float: left;
        font-family: "Times New Roman", Georgia, Serif, Arial, Helvetica, sans-serif;
        font-size: 11px;
}

div.dataTables_filter {
	float: right;
        
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 0px;
        font-family: "Times New Roman", Georgia, Serif, Arial, Helvetica, sans-serif;
        font-size: 11px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.pretty {
	width: 100%;
	clear: both;
}

table.pretty td,
table.pretty th {
	padding: 2px;
	border: 1px solid #fff;
        
}

/* Header cells */
table.pretty thead th {
	text-align: center;
	background: #66a9bd;
}

/* Body cells */
table.pretty tbody th {
	text-align: left;
	background: #91c5d4;
}
	
table.pretty tbody td {
	text-align: center;
	background: #d5eaf0;
}
		
table.pretty tbody tr.odd td { 
	background: #bcd9e1;
}

div#left {
	position: absolute;
	display: block;
	top: 50px;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	width: 130px;
	height: 100%;
	background:#009900;
	overflow: hidden;
}

div#center {
	position: absolute;
	height: auto;
	top: 50px;
	left: 150px;
	right: 0px;
	bottom: 0px;
	background:#fff;
	overflow: auto;
}

html, body, #divMap  {
    margin: 0;
    padding: 0;
    height: 100%;
}
#divMap {
    width:100%;
    height:700px;
}